<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="TestNgDemo.Test.Test1">
     <methods>
     <include name="verifylogin"/>
     </methods>
     </class>  
     
      <class name="TestNgDemo.Test.HomeTest">
      <methods>
      <include name="verifySearchbar"/>
      <include name="checkforLinks"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
